* {
    padding: 0;
    margin: 0;
}

header img {
    width: 490px;
    padding: 15px;
}

header {
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    position: fixed;
    overflow: hidden;
    background: black;
    top: 0;
    width: 100%;
}

main {
    margin-top: 130px;
    background: white;
}

.btn {
    color: #999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}

button {
    border: none;
}

button {
    padding: 10px 20px;
    background: transparent;
    margin: 5px;
}


.btn1 {
    color: #CC3C28;
    background: #000000;
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Avenir Next', sans-serif;

}

.btn1:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #000000;
    padding: 20px 20px;
}

button1 {
    border: none;
}

button1 {
    padding: 10px 20px;
    background: #000000;
    margin: 5px;
}


p,
h1,
h2,
h3 {
    max-width: 105%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Avenir Next', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    margin-top: 10px;
}

img {
    width: 80%;
    align-self: bottom;
}

#om_huset {
    padding: 2%;
}

#bipbar {
    padding: 2%;
}

#musikcafe {
    padding: 2%;
}

#organisation {
    padding: 2%;
}

#om_huset {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bipbar {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#musikcafe {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#om_huset {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#bipbar {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 100%;
}

#musikcafe {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#organisation {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#om_huset .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}

#om_huset .billedeh {
    flex-grow: 1;
    flex-basis: 300px;
}

#bipbar .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}

#musikcafe .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}


#organisation .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}

.billedev {
    flex-grow: 1;
    flex-basis: 300px;
}

.tekstv {
    flex-grow: 1;
    flex-basis: 300px;
}

.billedev img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.venstre {
    display: flex;
    flex-wrap: wrap;
}

#evoo {
    padding: 2%;
}

#husetsbio {
    padding: 2%;
}

#historie {
    padding: 2%;
}

#evoo p {
    color: white;
}

#husetsbio p {
    color: white;
}

#historie p {
    color: white;
}

#evoo h1 {
    color: white;
}

#husetsbio h1 {
    color: white;
}

#historie h1 {
    color: white;
}

#evoo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#husetsbio {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#historie {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#evoo .venstre {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#husetsbio .venstre {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#historie .venstre {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#evoo .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}

#husetsbio .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}

#historie .teksth {
    flex-grow: 1;
    flex-basis: 300px;
}


.pynt {
    width: 100%;
    height: 8px;
    background: #CC3C28;
    margin-left: auto;
    margin-right: auto;
}


footer {
    display: flex;
    color: #fff;
    font-family: Avenir;
    position: relative;
    color: #808183;
    background: black;
    padding: 20px 20px 20px 20px;
    font-size: 11px;

}

.footer_boks {
    flex-grow: 1;
    flex-basis: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    text-decoration: none;
    color: white;
}
